:root {
    --blue_color: #81B3D2;
    --white_color: #FFFFF5;
    --brown_color: #766357;
}

.filter {
    background: url(../img/hotels-bgr1200.jpg);
    display: flex;
    justify-content: space-between;
    padding: 33px 72px;
}
.list {
    display: flex;
    justify-content: space-between;
    color: var(--white_color);
}

.list__ul {
    list-style: none;
    padding-right: 112px;
}

.list__item {
    margin: 26px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
/* .main {
    padding: 0 7;
} */
.sort__ul {
    list-style: none;
    display: flex;
}
.sort__item {
    font-size: 14px;
    line-height: 48px;
    font-weight: 400;
    padding: 36px 36px 36px 0;
}
.copyright__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 26px;
    height: 29px;
    margin: 0 8px;
}