@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
* {
    /* width: 100%; */
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
:root {
    --blue_color: #81B3D2;
    --white_color: #FFFFF5;
    --brown_color: #766357;
}
.title-h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
.title-h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 18px;
}
.title-h2 {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.title-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}
.text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.text--s {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.container {
    width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
}
.header{
    background: url(../img/index-bgr1200.jpg);
    height: 566px;
    position: relative;
    display: block;
}
.nav {
    /* border: 1px red solid; */

}
.nav__ul {
    height: 55px;
    background-color: rgba(255, 255, 255);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__item {
    align-self: stretch;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: rgb(48, 47, 47);
    font-size: 14px;
    line-height: 56px;
    font-weight: 700;
}
.nav__link:hover {
    color: var(--blue_color);
}
.nav__link--active {
    color: var(--brown_color);
    cursor: default;
}
.nav__link--dead {
    color: rgba(128, 128, 128, 0.425);
    cursor: default;
}
.nav__link--dead:hover {
    color: rgba(128, 128, 128, 0.425);
}
.nav__link--active:hover {
    color: var(--brown_color)
}
.nav__link--logo {
    width: auto;
}
.nav__footer {
    position: absolute;
    bottom: -1px;
    width: 100.1%;
}

.block-center {
    display: grid;
    justify-content: center;
}
.block-center__body {
    margin: 54px 0 54px 0;
    display: grid;
    gap: 40px;
    width: 486px;
    /* border: solid 1px red; */
}
.block-center__text {
    color: #333333;
}
.promo {
    display: grid;
    grid-template-columns:1fr 2fr;
    height: 255px;
    color: #FFFFF5;
}
.promo__text {
    background-color: var(--blue_color);
}
.promo__img {
    background: url(../img/promo-img-1.jpg);
    height: auto;
    width: 100%;
}
.promo__text {

}
.promo-card--block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.promo-card {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-content: center;
    padding: 53px 45px 53px 45px;
    /* border: 1px red ridge; */
}
.center-line {
    overflow: hidden;
}
.center-line:before,
.center-line:after {
	content: "";
    display: inline-block;
    height: 2px;
    top: -1px;
    width: 3%;
    position: relative;
    vertical-align: middle;
    background-color: var(--white_color);
}
.center-line:before {
    right: 4px;
}
.center-line:after {
    left: 4px;
}
.center-line--black:before, .center-line--black:after {
    height: 2px;
    background-color: black;
}
.promo--reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 255px;
    color: var(--white_color);
}
.promo__img--reverse {
    background: url(../img/promo-img-2.jpg);
    height: auto;
    width: 100%;
}
.promo-card--background {
    background: #EEEEEE;
}
.footer{
    position: relative;
}
.interes {
    /* height: 290px; */
}
.hotel-search {
    position: absolute;
    top: 195px;
    margin: 0 316px 0 316px;
    display: grid;
    grid-template-rows: auto auto;
    width: 568px;
    background: white;
    /* border: 1px red ridge; */
}
.hotel-search__header {
    height: 88px;
    background-color: var(--brown_color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFF5;
    font-size: 21px;
    line-height: 86px;

}
.hotel-search__body {
    padding: 56px;
    display: grid;
}
.hotel-search__body p{
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hotel-search--text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    margin-right: 24px;
}

.hotel-search--input {
    height: 40px;
    /* width: 320px; */
    border: none;
    background: rgb(242,242,242);
    padding-left: 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}
.hotel-search--number {
    width: 40px;
}
.hotel-search--plasminus {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    background: rgb(242,242,242);
}

.hotel-search__submit {
    width: 100%;
    height: 58px;
    border: none;
    background: var(--blue_color);
    color: var(--white_color);
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
}

.map {
    height: 594px;
    background: url(../img/index-map.jpg);
    display: grid;
}
.footer-bottom {
    height: 126px;
    align-self: end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white_color);
}
.visitsenoda {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 48px;
    font-weight: 700;
}
.icon-block__ul {
    list-style: none;
    display: flex;
}

.icon-block__link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: var(--blue_color);
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.icon-block__link:hover {
    cursor: pointer;
    background-color: rgb(110, 154, 182);
}


.copyright__ul {
    list-style: none;
    display: flex;
}
.copyright__item {
    font-size: 14px;
    line-height: 48px;
    font-weight: 400;
}
.copyright__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 26px;
    height: 29px;
    margin: 0 8px;
}
.icon-a {
    background: url(../img/icon-a.png);
}
.icon-academ {
    background: url(../img/icon-academ.png);
}
.icon-a:hover {
    background: url(../img/icon-a-ative.png);
}
.icon-academ:hover {
    background: url(../img/icon-academ-active.png);
}