
* {
    width: 100%;
    margin: 0;
    padding: 0;
}
.title-h2 {
    font-size: 26px;
}
.container {
    width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
}
.header{
    background: url(../img/index-bgr1200.jpg);
    height: 566px;
    position: relative;
    display: block;
}
.nav {
    /* border: 1px red solid; */

}
.nav__ul {
    height: 55px;
    background-color: rgba(255, 255, 255);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
    align-self: stretch;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: rgb(48, 47, 47);
}
.nav__link:hover {
    color: rgb(100, 138, 209);
}
.nav__footer {
    position: absolute;
    bottom: -1px;
    width: 100.1%;
}
.small-town {
    display: grid;
    justify-content: center;
}
.small-town__text {
    display: grid;
    /* justify-content: center;
    align-items: center; */
    gap: 40px;
    margin: 54px 0 54px 0;
    border: solid 1px red;
}