@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
* {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
.title-h2 {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}
.text {
    text-align: center;
    font-size: 14px;
}
.container {
    width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
}
.header{
    background: url(../img/index-bgr1200.jpg);
    height: 566px;
    position: relative;
    display: block;
}
.nav {
    /* border: 1px red solid; */

}
.nav__ul {
    height: 55px;
    background-color: rgba(255, 255, 255);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
    align-self: stretch;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: rgb(48, 47, 47);
}
.nav__link:hover {
    color: rgb(100, 138, 209);
}
.nav__link--logo {
    width: auto;
}
.nav__footer {
    position: absolute;
    bottom: -1px;
    width: 100.1%;
}
.small-town {
    display: grid;
    justify-content: center;
}
.small-town__body {
    margin: 54px 0 54px 0;
    display: grid;
    gap: 40px;
    width: 486px;
    /* border: solid 1px red; */
}
.small-town__text {
}
.promo {
    display: grid;
    grid-template-columns: 33% auto;
    height: 255px;
    border: solid 1px red;
}
.promo__text {
    background-color: rgb(100, 138, 209);
}
.promo__img {
    height: auto;
    height: 100%;
    width: 100%;
}